[submodule "Externals/TouchUI"]
	path = Externals/TouchUI
	url = git://github.com/TouchCode/TouchUI.git
[submodule "Externals/TouchFoundation"]
	path = Externals/TouchFoundation
	url = git://github.com/TouchCode/TouchFoundation.git
[submodule "Externals/KVO-Notification-Manager"]
	path = Externals/KVO-Notification-Manager
	url = git://github.com/schwa/KVO-Notification-Manager.git
[submodule "Externals/TouchJSON"]
	path = Externals/TouchJSON
	url = git://github.com/TouchCode/TouchJSON.git
[submodule "Externals/trundle"]
	path = Externals/trundle
	url = git://github.com/schwa/trundle.git
[submodule "Externals/TouchMetrics"]
	path = Externals/TouchMetrics
	url = git://github.com/TouchCode/TouchMetrics.git
[submodule "Externals/TouchLogging"]
	path = Externals/TouchLogging
	url = git://github.com/TouchCode/TouchLogging.git
