
[submodule "Externals/TouchUI"]
	path = Externals/TouchUI
	url = git@github.com:schwa/TouchUI
[submodule "Externals/TouchFoundation"]
	path = Externals/TouchFoundation
	url = git@github.com:schwa/TouchFoundation
[submodule "Externals/KVO-Notification-Manager"]
	path = Externals/KVO-Notification-Manager
	url = git@github.com:schwa/KVO-Notification-Manager
[submodule "Externals/TouchJSON"]
	path = Externals/TouchJSON
	url = git@github.com:schwa/TouchJSON
[submodule "Externals/TouchNotifications"]
	path = Externals/TouchNotifications
	url = git@github.com:schwa/TouchNotifications
[submodule "Externals/trundle"]
	path = Externals/trundle
	url = git@github.com:schwa/trundle
