[submodule "Externals/TouchUI"]
	path = Externals/TouchUI
	url = https://github.com/schwa/TouchUI.git
[submodule "Externals/TouchFoundation"]
	path = Externals/TouchFoundation
	url = https://github.com/schwa/TouchFoundation.git
[submodule "Externals/KVO-Notification-Manager"]
	path = Externals/KVO-Notification-Manager
	url = https://github.com/schwa/KVO-Notification-Manager.git
[submodule "Externals/TouchJSON"]
	path = Externals/TouchJSON
	url = https://github.com/schwa/TouchJSON.git
[submodule "Externals/TouchNotifications"]
	path = Externals/TouchNotifications
	url = https://github.com/schwa/TouchNotifications.git
[submodule "Externals/trundle"]
	path = Externals/trundle
	url = https://github.com/schwa/trundle.git
